body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5;
}

.todo-calendar {
  text-align: center;
  background-color: #fefae0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.todo-calendar__header {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.todo-calendar__main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

.react-calendar {
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: #ffffff;
  width: 100%;
  /* Полная ширина */
  max-width: 800px;
  /* Максимальная ширина - увеличена в два раза */
  height: auto;
  /* Автоматическая высота */
}

.task-panel {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  /* Полная ширина */
  max-width: 600px;
  /* Максимальная ширина - увеличена в два раза */
  height: auto;
  /* Автоматическая высота */

}

.task-panel__header {
  margin-bottom: 20px;
}

.task-panel__task-list {
  list-style-type: none;
  padding: 0;
}

.todo-calendar__button {
  margin: 5px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  background-color: #4CAF50;
  color: #fff;
}

.todo-calendar__button:hover {
  background-color: #45a049;
}

.todo-calendar__input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.todo-calendar__task {
  background-color: #f9f9f9;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-calendar__task--done {
  text-decoration: line-through;
  color: #888;
  background-color: #e0e0e0;
}

.react-calendar__tile--active {
  background-color: #4CAF50;
  color: #fff;
}

.react-calendar__tile--now {
  background-color: #ff4d4d;
  color: #fff;
}

.react-calendar__tile--hasActive:hover,
.react-calendar__tile--active:hover {
  background-color: #45a049;
}

.react-calendar__tile--now:enabled:hover {
  background-color: #F4CCCC;
}

.react-calendar__tile--now:enabled:focus {
  background-color: #F4CCCC;
}

.react-calendar__tile {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.react-calendar__tile:disabled {
  background-color: transparent;
  color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .todo-calendar__main {
    flex-direction: column;
  }

  .task-panel {
    width: 100%;
  }
}